
body{
    box-sizing: border-box;
    font-family: Roboto, system-ui;
    font-size: 1em;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}
#display{
    height: 30%;
}
#buttons{
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: inherit;
}
p{
    height: 18vh;
    font-size: inherit;
    text-align:right;
    background-color: aqua;
    margin: 0;
}
button{
    margin: 1px;
}
